<!DOCTYPE html>
<html>
  <head>
    <title>MusicRating</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <ul>
      <li> <%= link_to "Musicas", musics_path %>  </li>
      <li> <%= link_to "Generos", genres_path %>  </li>
      <li> <%= link_to "Notas", ratings_path %>  </li>  
    </ul>
    <%= yield %>
  </body>
</html>
